version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pakton-frontend
    ports:
      - "8501:8501"
    volumes:
      - .:/app  # Optional: live-reload changes
    restart: unless-stopped